%h2
  %span.backing Edit Oak Ampd Contents
%br
= form_for @content do |f|
  - if @content.errors.any?
    .errors
      .span.backing
        = @content.errors.full_messages.join(', ').downcase.capitalize
  #content-gigs-header
    = f.label :gigs_header, form_label_with_backing(:gigs_header)
    = f.text_area :gigs_header, class: "content-area"
  #content-venues-header
    = f.label :venues_header, form_label_with_backing(:venues_header)
    = f.text_area :venues_header, class: "content-area"
  #content-bands-header
    = f.label :bands_header, form_label_with_backing(:bands_header)
    = f.text_area :bands_header, class: "content-area"
  #content-features-header
    = f.label :features_header, form_label_with_backing(:features_header)
    = f.text_area :features_header, class: "content-area"
  #content-about-header
    = f.label :about_header, form_label_with_backing(:about_header)
    = f.text_area :about_header, class: "content-area"
  #content-about-content
    = f.label :about_content, form_label_with_backing(:about_content)
    = f.text_area :about_content, class: "content-area"
  %br
  = f.submit "Submit"


