= form_for @band do |f|
  - if @band.errors.any?
    .errors
      .span.backing
        = @band.errors.full_messages.join(', ').downcase.capitalize
  #band-form-row-1
    #band-name
      = f.label :name, form_label_with_backing(:name)
      = f.text_field :name, required: true
  #band-form-row-2
    #band-image
      = f.label :image, form_label_with_backing(:image)
      = f.text_field :remote_image_url, placeholder: "http://..."
    #band-image-credit
      = f.label :image_credit, form_label_with_backing(:image_credit)
      = f.text_field :image_credit
  #band-form-row-3
    #band-website
      = f.label :website, form_label_with_backing(:website)
      = f.text_field :website
    #band-bandcamp
      = f.label :bandcamp, form_label_with_backing(:bandcamp)
      = f.text_field :bandcamp
  #band-form-row-4
    #band-facebook
      = f.label :facebook, form_label_with_backing(:facebook)
      = f.text_field :facebook
    #band-soundcloud
      = f.label :soundcloud, form_label_with_backing(:soundcloud)
      = f.text_field :soundcloud
  #band-form-row-5
    #tags
      = label_tag 'Tags'
      = display_text_field_with_tags_if_any(@band)

  %br
  = f.submit button_text


