#bands-listings
  - @bands.each_with_index do |band, index|
    .band-listing-wrapper.standard
      .band-listing.backing
        .band-image-container
          = image_tag band.image, class: "band-image", alt: band.name
        .band-image-credit
          = band.image_credit
        .band-name
          = band.name
        .band-social-media
          %ul
            - if !band.website.blank?
              %li.website
                = link_to image_tag("logo-home.png"), band.website, target: "_blank"
            - if !band.bandcamp.blank?
              %li.bandcamp
                = link_to image_tag("logo-bandcamp.png"), band.bandcamp, target: "_blank"
            - if !band.facebook.blank?
              %li.facebook
                = link_to image_tag("logo-fb.png"), band.facebook, target: "_blank"
            - if !band.soundcloud.blank?
              %li.soundcloud
                = link_to image_tag("logo-soundcloud.png"), band.soundcloud, target: "_blank"

