#bands-listings
  - @bands.each_with_index do |band, index|
    .band-listing-wrapper.standard
      .close &#x2715;
      .band-listing.backing
        .band-image{data: {full: "#{band.image.url}"}}
          = image_tag band.image.url(:thumb), id: "band-image-#{index + 1}", alt: band.name
        .band-image-credit
          = band.image_credit
        .band-name
          = band.name
        .band-social-media
          - if band.website
            .website
              = band.website
          - if band.bandcamp
            .bandcamp
              = band.bandcamp
          - if band.facebook
            .facebook
              = band.facebook
          - if band.soundcloud
            .soundcloud
              = band.soundcloud

