#gigs-listings
  %table
    %tbody
      - @gigs.each do |gig|
        - if @first_ids.include? gig.id
          %tr.first-of-the-month
            %td
              = display_month(gig)
            %td
            %td
            %td
        %tr
          %td.showdate
            = display_showdate(gig)
          %td.band-name
            = gig.band_name
          %td.venue-details
            = gig.venue_details
          %td.price
            %span
              = number_to_currency gig.price