#gigs-listings
  - @gigs.each do |gig|
    - if @first_ids.include? gig.id
      .first-of-the-month
        = display_month(gig)
    .gig-listing{class: "#{gig_listing_classes(gig, @last_ids)} #"}
      .gig-listing-cell.showdate
        = display_showdate(gig)
      .gig-listing-cell.band-name
        = gig.band.upcase
      .gig-listing-cell.venue-details
        = gig.venue_name
      .gig-listing-cell.price
        %span
          = display_price(gig)