!!! 5
%html
  %head
    %title
      = yield(:title).empty? ? 'oak-ampd' : yield(:title)
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'oak-ampd'}

  %body
    %header
      .oakampd-header-image
        = image_tag "oakampd-header-black.png"
    .notices
      = notice
    #main-container
      #main-content
        = yield
      #gutter-column
      #side-content
        = render "side_content/placeholder"
    %footer
      #footer-push