!!! 5
%html
  %head
    = favicon_link_tag favicon_filename
    %title
      = yield(:title).empty? ? 'OAKAMPD' : yield(:title)
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,300', rel:'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'oak-ampd'}

  %body
    %header
      - if user_signed_in?
        #user-info
          = link_to current_user.email, user_path(current_user)
          %span &#124;
          = link_to "Logout", destroy_user_session_path, method: :delete
      #header-left
        = display_header_image
      #header-right
        #header-right-text
          %h5 Your Oakland gig guide. Sort listings by date, venue, artist, or price and find your next live music night out. For tickets for sale online, click the price in the listing.
          %h5 Prices shown may represent the lowest and/or advance ticket prices and could be higher at the door or depending on other options.
        %nav
          %ul
            %li
              = link_to "HOME", root_path
            %li VENUES
            %li BANDWATCH
            %li ABOUT
            %li
              %ul
                %li E
                %li T
                %li F
                %li I
    .notices
      = notice
    .alerts
      = alert
    #main-container
      #main-content
        = yield
      #gutter-column
      #side-content
        = render "side_content/placeholder"
    %footer
      #footer-push