!!! 5
%html
  %head
    = favicon_link_tag favicon_filename
    %title
      = yield(:title).empty? ? 'OAK AMPD' : yield(:title)
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Roboto:400,300', rel:'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'oak-ampd'}

  %body
    %header
      - if user_signed_in?
        #user-info
          = link_to current_user.email, user_path(current_user)
          %span &#124;
          = link_to "Add Gig(s)", new_gig_path
          %span &#124;
          = link_to "Logout", destroy_user_session_path, method: :delete
      #header-left
        = display_header_image
      #header-right
        #header-right-text
          %h5 Your Oakland gig guide. Sort listings by date, venue, band, or price and find your next live music night out.
          %h5 For tickets, click the price in the listing. Prices shown may represent the lowest and/or advance ticket prices and could be higher at the door or depending on other options.
        %nav
          %ul
            %li.nav-link
              = link_to "GIGS", root_path, class: active_if_active("gigs")
            %li.nav-link
              = link_to "VENUES", page_path("venues"), class: active_if_active("venues")
            %li.nav-link
              = link_to "BANDWATCH", page_path("bandwatch"), class: active_if_active("bandwatch")
            %li.nav-link
              = link_to "ABOUT", page_path("about"), class: active_if_active("about")
            %li
              %ul
                %li
                  = mail_to "oakampd@gmail.com", render("layouts/email_icon")
                %li
                  = link_to render("layouts/twitter_icon"), "https://twitter.com/oakampd", target: "_blank"
    .notices
      %span.backing
        = notice
    .alerts
      %span.backing
        = alert
    #main-container
      #main-content
        = yield
      #gutter-column
      #side-content
        = render "layouts/twitter_widget"
        = render "side_content/placeholder"
    %footer
      #footer-push